doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid


            nav.navbar
                .container
                    .navbar-menu
                        .navbar-start
                        .navbar-brand
                            a.navbar-item(href="#") Equilibri.IO
                        .navbar-end


            section.hero(style="background: url('images/form-7SPCoR1wWqc-unsplash_(2).jpg');background-size: cover")
                .hero-body
                    .container.has-text-centered
                        .columns
                            .column.is-half.is-one-third-desktop
                                .card
                                    .card-content
                                        h2.title.is-4.is-spaced Equilibri.IO
                                        p.subtitle.is-6 Controle de forma fácil sua cliníca.
                                        .buttons
                                            a.button.is-primary.is-fullwidth(href="#") Saiba mais...

            section.section
                .container
                    h2.title.has-text-centered Some of our awesome features

                    .columns
                        .column.is-4
                            .card
                                .card-image
                                    figure.image.is-4by3
                                        img(src="images/depositphotos_194177584-stock-video-email-and-cloud-computer-hd.jpg", alt="")
                                .card-content
                                    h4.title.is-spaced.is-4 Internet
                                    p.subtitle.is-6 Serviço disponível em nuvem, com 100% de disponibilizade
                                    a(href="#") Read more
                        .column.is-4
                            .card
                                .card-image
                                    figure.image.is-4by3
                                        img(src="images/security.jpg", alt="")
                                .card-content
                                    h4.title.is-spaced.is-4 Seguro
                                    p.subtitle.is-6 Ninguém poderá usar seus dados sem o seu consentimento.
                                    a(href="#") Read more
                        .column.is-4
                            .card
                                .card-image
                                    figure.image.is-4by3
                                        img(src="images/minimalist-web-design.webp", alt="")
                                .card-content
                                    h4.title.is-spaced.is-4 Fácil
                                    p.subtitle.is-6 Criado para facilitar o dia a dia da clínica. Com rotinas interativas.
                                    a(href="#") Read more


            section.section
                .container.has-text-centered
                    h2.title.is-1.is-spaced R$ 29,90 / mês
                    p.subtitle Preço por usuário.
                    a.button.is-primary(href="") Compre Agora

            section.section
                .container
                    h2.title.has-text-centered Contato

                    .columns.is-vcentered
                        .column.is-6
                            img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                        .column.is-6
                            h4.title.is-spaced.is-4 Entre em contato.
                            p.subtitle We're here to answer your questions and discuss the decentralized future of the internet.
                            div
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/map-marker.svg", alt="")
                                    .media-content
                                        .content
                                            p Cur
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/phone.svg", alt="")
                                    .media-content
                                        .content
                                            p +55 (41) ...
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/envelope.svg", alt="")
                                    .media-content
                                        .content
                                            p equilibriioclinica@gmail.com