doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid


            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item(href="#") Pied Piper
                        a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href="#") Features
                            a.navbar-item(href="#") Enterprise
                            a.navbar-item(href="#") Support
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link ICO
                                .navbar-dropdown
                                    a.navbar-item.navbar-item-dropdown(href="#") Whitepaper
                                    a.navbar-item.navbar-item-dropdown(href="#") Token
                        .navbar-end
                            .navbar-item
                                .buttons
                                    a.button.is-light(href="#") Log in
                                    a.button.is-primary(href="#") Sign up


            section.section
                .container.has-text-centered
                    h2.title Decentralized, secure, private.

                    .block
                        img(src="placeholder/icons/unicorn.svg", alt="")
                        img(src="placeholder/icons/unicorn.svg", alt="")
                        img(src="placeholder/icons/unicorn.svg", alt="")

                    p Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.

            footer.footer
                .container
                    .level
                        .level-left
                            .level-item
                                a.title.is-4(href="#") Pied Piper
                        .level-right
                            a.level-item(href="#") Features
                            a.level-item(href="#") Enterprise
                            a.level-item(href="#") Support
                            a.level-item(href="#") ICO

                    hr

                    .columns
                        .column
                            .buttons
                                a.button(href="#")
                                    img(src="placeholder/icons/twitter.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/facebook-f.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/instagram.svg", alt="")

                        .column.has-text-centered.has-text-right-tablet
                            p.subtitle.is-6 &copy; 2019 Pied Piper. All right reserved.